# Postgres
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
POSTGRES_PORT=5432

# Kafka
KAFKA_PORT=9092
KAFKA_BROKERS=localhost:${KAFKA_PORT}

# Ollama
OLLAMA_URL=http://localhost:11434

# Scheduler
SCHEDULER_POLICY=FCFS
SERVER_PORT=3000

# App
DATABASE_URL=postgres://user:password@localhost:5432/llm_scheduler